*{
	box-sizing:border-box;
}
.one{
background-color:pink;
border:2px solid black;
height:96px;
}
.two{
background-color:green;
padding:46px;
border:2px solid black;
}
.two{
background-color:green;
padding:46px;
border:2px solid black;
}
.trhee{
background-color:yellow;
padding:46px;
border:2px solid black;
}
.fore{
background-color:blue;
padding:46px;
border:2px solid black;
}
.five{
background-color:white;
padding:46px;

}
