div {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blue_top {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  height: 50px;
  width: 1580px;
  background-color: blue;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.one_line {
  margin-left: 50px;
  font-size: 0px;
}
.one_line .blue {
  display: inline-block;
  font-size: 50px;
  height: 50px;
  width: 50px;
  background-color: blue;
  border-left: 2px solid black;
}
.one_line .yellow {
  display: inline-block;
  font-size: 50px;
  height: 50px;
  width: 1480px;
  background-color: yellow;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.blue_right {
  display: inline-block;
  font-size: 50px;
  height: 50px;
  width: 50px;
  background-color: blue;
  border-right: 2px solid black;
}
.two_line {
  margin-left: 50px;
  font-size: 0px;
}
.two_line .blue {
  display: inline-block;
  font-size: 50px;
  height: 50px;
  width: 50px;
  background-color: blue;
  border-left: 2px solid black;
}
.two_line .yellow {
  display: inline-block;
  font-size: 50px;
  height: 50px;
  width: 50px;
  background-color: yellow;
  border-left: 2px solid black;
}
.two_line .green {
  display: inline-block;
  font-size: 50px;
  height: 50px;
  width: 1380px;
  background-color: green;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.yellow_right {
  display: inline-block;
  font-size: 50px;
  height: 50px;
  width: 50px;
  background-color: yellow;
  border-right: 2px solid black;
}
.three_line {
  margin-left: 50px;
  font-size: 0px;
}
.three_line .blue {
  display: inline-block;
  font-size: 50px;
  height: 50px;
  width: 50px;
  background-color: blue;

  border-left: 2px solid black;
}
.three_line .yellow {
  display: inline-block;
  font-size: 50px;
  height: 50px;
  width: 50px;
  background-color: yellow;
  border-left: 2px solid black;
}
.three_line .green {
  display: inline-block;
  font-size: 50px;
  height: 50px;
  width: 50px;
  background-color: green;

  border-left: 2px solid black;
}
.three_line .pink {
  display: inline-block;
  font-size: 50px;
  height: 50px;
  width: 1280px;
  background-color: pink;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.green_right {
  display: inline-block;
  font-size: 50px;
  height: 50px;
  width: 50px;
  background-color: green;
  border-right: 2px solid black;
}

.blue_right {
  display: inline-block;
  font-size: 50px;
  height: 50px;
  width: 50px;
  background-color: blue;
  border-right: 2px solid black;
}
.four_line {
  margin-left: 50px;
  font-size: 0px;
}
.four_line .blue {
  display: inline-block;
  font-size: 50px;
  height: 50px;
  width: 50px;
  background-color: blue;

  border-left: 2px solid black;
}
.four_line .yellow {
  display: inline-block;
  font-size: 50px;
  height: 50px;
  width: 50px;
  background-color: yellow;
  border-left: 2px solid black;
}
.four_line .green {
  display: inline-block;
  font-size: 50px;
  height: 50px;
  width: 50px;
  background-color: green;

  border-left: 2px solid black;
}
.four_line .pink {
  display: inline-block;
  font-size: 50px;
  height: 50px;
  width: 1280px;
  background-color: pink;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.five_line {
  margin-left: 50px;
  font-size: 0px;
}
.five_line .blue {
  display: inline-block;
  font-size: 50px;
  height: 50px;
  width: 50px;
  background-color: blue;
  border-left: 2px solid black;
}
.five_line .yellow {
  display: inline-block;
  font-size: 50px;
  height: 50px;
  width: 1480px;
  background-color: yellow;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.blue_right {
  display: inline-block;
  font-size: 50px;
  height: 50px;
  width: 50px;
  background-color: blue;
  border-right: 2px solid black;
}
.six_line {
  margin-left: 50px;
  font-size: 0px;
}
.six_line .blue {
  display: inline-block;
  font-size: 50px;
  height: 50px;
  width: 50px;
  background-color: blue;
  border-left: 2px solid black;
}
.six_line .yellow {
  display: inline-block;
  font-size: 50px;
  height: 50px;
  width: 50px;
  background-color: yellow;
  border-left: 2px solid black;
}
.six_line .green {
  display: inline-block;
  font-size: 50px;
  height: 50px;
  width: 1380px;
  background-color: green;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.blue_bottom {
  margin-left: 50px;

  height: 50px;
  width: 1580px;
  background-color: blue;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
}
