
body{
	background-color:antiquewhite;
}
body>div:first-child{

			background-color:aquamarine;
	box-sizing:	content-box;

}
body>div:last-child{
	
box-sizing: border-box;
			background-color:azure;
}
.repeat{
	border: 8px solid black;
	margin:16px;
		padding:16px;
		width:512px;
		height:128px;}
