.already-learned > ol {
  background-color: green;
  color: white;
}
.to-be-learned > ol {
  background-color: orange;
  color: green;
}
.already-learned code {
  background-color: orange;
}
.to-be-learned code {
  background-color: green;
}
#special2 ~ li {
  font-size: 24px;
}
#special2 > h4 + li + code {
  border: 2px solid blue;
}
