li {
  margin-bottom: 16px;
}
ol span {
  background-color: green;
  color: white;
}
ul span {
  background-color: orange;
  color: white;
}

#special ~ li {
  margin-left: 16px;
}
#special + li > span {
  border: 3px solid red;
}
