* {
<<<<<<< HEAD
  box-sizing: border-box;
}

.login-form {
  margin: 32px;
}
div {
  margin: 8px;
}
=======
    box-sizing: border-box;
}

.login-form{
margin:32px;

}
div {
  margin: 8px;
  }

>>>>>>> e0e4db1b0dc1876c1b13a6adbf90f9a4d564602b
