

body i:nth-child(1) {
    font-size: 18px;
}

body i:nth-child(2) {
    font-size: 36px;
}

body i:nth-child(3) {
    font-size: 64px;
}

body i:nth-child(4) {
    font-size: 128px;
}

body i:nth-child(5) {
    font-size: 256px;
}

body {
    display: flex;
    justify-content: space-around;
}
