<<<<<<< HEAD
div {
  background-color: pink;
  
=======
*{
	box-sizing:border-box;
}
div{padding:50px;
background-color:aqua;
border:3px solid black;
margin-bottom:50px;
>>>>>>> 3a24e1cc7dfced96e75ded8ac3f2c9eb13814952
}
